body {
    background-color: rgb(25, 28, 31);
}
h1 {
    color: orangered;
    font-family: Aurebesh;
    line-height: 0;
    text-align: center;
}
h2 {
    color: orangered;
    font-family: serif;
    border-bottom: 2px solid black;
    text-align: center;
}
p, ul, li {
    color: lightgray;
    font-family: sans-serif;
    line-height: 150%;
    flex: 2;
}
.image-text-wrap-left {
    display: flex;
    align-items: top;
    gap: 20px;
}
.image-text-wrap-right {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
}
#text {
    margin-left: 20px;
    flex: 2;
}
#image {
    flex: 1;
    margin-left: 20px;
    
}
#githubLink {
    font-size: x-large;
    text-align: center;
}
.centered-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.centered-list li{
    text-align: center;
}
img {
    flex: 1;
    max-width: 50%;
}
a:link {
    color: pink;
    background-color: transparent;
}
a:visited {
    color: darksalmon;
    background-color: transparent;
}
a:hover {
    color: lightcoral;
    background-color: transparent;
}
a:active {
    color: crimson;
    background-color: transparent;
}